@font-face{
    font-family: SinkinSans;
    src: url("../fonts/SinkinSans-200XLight.otf"), url("../fonts/SinkinSans-200XLightItalic.otf"), url("../fonts/SinkinSans-400Regular.otf"), url("../fonts/SinkinSans-400RegularItalic.otf"), url("../fonts/SinkinSans-600SemiBold.otf"), url("../fonts/SinkinSans-600SemiBoldItalic.otf"), url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}

@font-face{
    font-family: SinkinSansBold;
    src: url("../fonts/SinkinSans-600SemiBold.otf"), url("../fonts/SinkinSans-600SemiBoldItalic.otf"), url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}

@font-face{
    font-family: SinkinSansExtraBold;
    src: url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SinkinSans;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

/* VARIABLES USADAS */
:root{
    --principal: rgb(167, 244, 7);
    --secundario: #000000;
    --blanco: #FFFFFF;
    --gris: #777676;
    --terciario: #7E8B62;
    --rojo: #7E0505;
    --ganador: #147C06;
    --bold: SinkinSansBold;
    --extraBold: SinkinSansExtraBold;
    --grisOpaco: rgba(144, 142, 142, 0.3);
    --uncomplete:rgba(167, 244, 7, 0.4);
    --tamanioCard: 275px;
    --tamanioCardMitad: 137.5px;
}


/* Global Styles */
body {
    width: 99vw;
    background-color: var(--blanco);
    margin: 0  auto;
}

/*Header*/
.header{
    color: var(--secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;

}

/* HEADER LOGO */
.header__logo{
    width: 20%;
}

.header__logo img{
    width: 100%;
    height: 100%;
    display: block;
}

/*Navegacion*/
.header__nav{
    display: flex;
    gap: 2.5vw;
}

.header__nav .header__nav-a{
    text-decoration: none;
    color: var(--secundario);
    font-size: 1.5em;
    position: relative;
}
.header__nav .header__nav-a:hover, .header__nav .header__nav-a.active {
    color: var(--principal);
}
.header__nav .header__nav-a:hover::after, .header__nav .header__nav-a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1vh; /* Adjust spacing from text */
    height: 0.5vh;
    background-color: var(--principal);
}



/* YA INICIADO SESION */
.oculto{ /* OCULTAR NAVEGACION*/
    display: none;
}
.header__user{
    display: flex;
    gap: 0.8vw;
    justify-content: end;
    align-items: center;
    width: auto;
    /* border: solid; */
}
.header__user a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__user-money{
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--principal);
    border-radius: 8px;
    padding: 1vh 1vw;
}

.header__svg{
    height: 50px;
    width: 50px;
    fill: var(--secundario);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.header__svg:hover{
    fill: var(--principal);
    scale: 1.2;
    transition: background-color 0.3s ease;
    transform: rotate(15deg);
}
.header__svg2{
    height: 24px;
    width: 24px;
    fill: var(--principal);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.header__svg2:hover{
    fill: var(--secundario);
    scale: 1.2;
    transition: background-color 0.3s ease;
    transform: rotate(15deg);
}
.separador{
    width: 100%;
    height: 2vh;
    width: 100%;
    background: linear-gradient(180deg, var(--principal) 10%, var(--blanco) 100%);
}
.marcado{
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5em;
    font-family: var(--extraBold);
}

/*MAIN DE LA PAGINA*/
/*FADE IN*/
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    /* border: solid; */
    background-image: url("../img/background-modified-ex.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* TITULO DE CADA UNA DE LAS SECCIONES*/

.main__titles{
    color:var(--secundario);
    display: flex;
    flex-direction: column;
    /* border: solid; */
    height: auto;
    position: relative;
}

.main__titles h2{
    width: auto;
    font-family: var(--bold);
    /* border: solid; */
    position: relative;
    z-index: 2;

}

.box_titulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background-color: var(--principal);
    z-index: 1 ;    
}

.box_titulo_derecha{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: var(--principal);
    z-index: 1 ;    
}


/* SECCION DE SELECCIONAR LIGAS Y CREAR UNA NUEVA APUESTA */
.main__leaguesBet-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: solid; */
    padding-right: 1rem;
    margin-bottom: 3vh;
    
}

.main__createBet-access a{
    color: var(--secundario);
    font-size: 1.2em;
    font-family: var(--bold);
    background-color: var(--principal);
    padding: 1vh 2vw;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.main__createBet-access a:hover{
    border: 2px solid var(--principal);
    background-color: var(--secundario);
    color: var(--principal);
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.main__leagues{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 2vh 0;
    /* border: solid; */
}


/*  SLIDER DE SELECCION DE LIGAS */
.main__leagues-select {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--grisOpaco);
    /* border: solid; */
}

.slider-container {
    overflow-x: auto;  /* Permite desplazamiento */
    scrollbar-width: none; /* Oculta scroll en Firefox */
    -ms-overflow-style: none; /* Oculta scroll en IE y Edge */

}
.slider-container::-webkit-scrollbar {
    display: none;
}

.slider-item {
    flex: none;
    scroll-snap-align: center;
    text-align: center;
    /* border: solid; */
}

.slider-item img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
}

.slider-item img:hover {
    transform: scale(1.1);
    cursor: pointer;
    fill: var(--secundario);
}

.seleccionado{
    transform: scale(1.1);
}

/* APUESTA ACTIVAS EN ESTE MOMENTO */

.main__activeBets, .main__worldBets, .main__nextMatches{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 2vh 0;
}


.main__games{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    gap: 3vh;
    width: calc(100% - 0.8vw);
    /* border: solid; */
    margin: 0 auto;
    margin-top: 2vh;
    
}
.main__game, .main__game-nohover{
    width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--principal);
    border-radius: 12px;
    padding: 1rem 0.5rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.main__game:hover{
    background-color: var(--principal);
    transform: translateY(-5px);
    box-shadow: 0 25px 15px rgba(0, 0, 0, 0.2);
}

/* Cada una de las apuestas*/

.game__teams{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5vh;
    color: var(--secundario);
    /* border: solid; */
}


.result{
    text-align: center;
}

.result p:first-child{
    font-size: 0.6em;
    font-family: var(--bold);
    color: var(--gris);
}

.result p:last-child{
    font-size: 1.2em;
    font-family: var(--bold);
    color: var(--secundario);
}

.game__teams-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* border: solid; */
    text-align: center;
    margin-top: -1vh;

}

.teamA__name p:first-child, .teamB__name p:first-child{
    font-size: 0.6em;
    font-family: var(--bold);
    color: var(--gris);
    width: 90px;
}

.teamA__name p:last-child, .teamB__name p:last-child{
    font-size: 0.7em;
    font-family: var(--bold);
    color: var(--secundario);
    width: 90px;
}

.game__results{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 2vh;
    padding: 0 1rem;
    /* border: solid; */
}
.game__results-users{
    display: flex;
}

.game__results-money p{
    font-size: 1.2em;
    font-family: var(--bold);
    color: var(--gris);
}

.game__results-money a{
    font-size: 0.8em;
    font-family: var(--bold);
    color: var(--gris);
}

.game__results-money a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.main__loadMore{
    width: 90%;
    text-align: left;
    margin: 2vh auto;
}

.main__loadMore a{
    color: var(--secundario);
    font-size: 0.8em;
    font-family: var(--bold);
}

.main__loadMore a:hover{
    text-decoration: underline;
    cursor: pointer;
}

.separador2{
    height: 4px;
    width: 70%;
    margin-top: 2vh;
    background-color: var(--grisOpaco);
}

.date p{
    font-size: 1em;
    font-family: var(--bold);
    color: var(--gris);
}

/*  CREACION DEL POP UP DE CRACION DE APUESTAS*/

.main__popUp{
    position: fixed;
    z-index: 4;
    top: 4vh;
    width: 30vw;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    border-radius: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.main__popUp:target{
    opacity: 1;
    visibility: visible;
}

.main__popUp-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blanco);
    padding: 2rem;
    width: 100%;
    border: 2px solid var(--principal);
    border-radius: 12px;
}

.main__popUp-content h2{
    font-size: 1.5em;
    font-family: var(--bold);
    color: var(--principal);
    margin-bottom: 2vh;
}
.bet__form{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bet__teams{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2vh;
}

.teamA__form, .teamB__form{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.teamA__form img, .teamB__form img{
    width: 150px;
    height: 150px;
}

.teamA__form p, .teamB__form p{
    font-size: 1.2em;
    font-family: var(--bold);
    color: var(--secundario);
}

.versus p{
    font-size: 1.5em;
    font-family: var(--bold);
    color: var(--gris);
}

.close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
}

.popUp__svg{
    height: 24px;
    width: 24px;
    fill: var(--secundario);
}
.popUp__svg2{
    height: 16px;
    width: 16px;
    fill: var(--secundario);
    cursor: pointer;
}

.popUp__svg:hover{
    fill: var(--principal);
    scale: 1.2;
    transform: rotate(15deg);
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    /* border: solid; */
}
.campo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid var(--principal);
    border-radius: 100px;
    padding: 1rem 2rem;
    margin-bottom: 2vh;
}

.campo__score{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2vh;
}

.campo__local, .campo__visitant{
    width: 45%;
    text-align: center;
    border: 2px solid var(--principal);
    border-radius: 100px;
    padding: 1rem 2rem;
}

.div__addFriends{
    margin-bottom: 1vh;
}
.addFriends{
    color: var(--secundario);
    font-size: 0.8em;
    font-family: var(--bold);
}


.addFriends:hover{
    text-decoration: underline;
    cursor: pointer;
}

.bet__friends{
    display: flex;
    align-items: center;
    gap: 0.2vw;
    width: 100%;
    margin-bottom: 1vh;
    /* border: solid; */
}

.bet__friends p{
    font-size: 0.8em;
    font-family: var(--bold);
    color: var(--secundario);
}
.separador3{
    width: 100%;
    height: 1px;
    background-color: var(--secundario);
}
.div__button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}
.btn__createBet{
    background-color: var(--principal);
    color: var(--secundario);
    border: 2px solid var(--principal);
    font-size: 1.2em;
    font-family: var(--bold);
    padding: 1vh 2vw;
    border-radius: 12px;
}

.btn__createBet:hover{
    background-color: var(--secundario);
    color: var(--principal);
    
    cursor: pointer;
}

.overlay { /* TAPAR FONDO PARA QUE NO SE PUEDA INTERACTUAR CON ELLO */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(167, 244, 7, 0.4);
    display: none;
    z-index: 3;
}
.main__popUp:target ~ .overlay {
    display: block;
}

.main__popUp:target ~ main {
    opacity: 0.3;
    pointer-events: none;
}
/*FOOTER*/

.footer{
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    color: var(--blanco);
}

.footer__info{
    width: 100%;
    color: var(--blanco);
    display: flex;
    justify-content: space-evenly;
    /* border: solid; */
}
.footer__info h3{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 2vh;
    color: var(--principal);
}
.footer__info-logo{
    width: 40%;
    /* border: solid white; */
}
.footer__info-logo img{
    margin-bottom: 2vh;
    width: 90%;
}

.footer__info-contact{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid white; */

}
.footer__info-contact div{
    width: auto;
    display: flex;
    /* border: solid white; */
    gap: 0.5vw;

}
.footer__info-follow{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid white; */
}
.follow_icons{
    display: flex;
}
.footer__svg{
    height: 24px;
    width: 24px;
    fill: var(--blanco);
}
.follow_icons .footer__svg:hover{
    fill: var(--principal);
    scale: 1.2;
    transform: rotate(15deg);
}

.footer__copy{
    width: 100%;
    font-size: 0.5em;
    /* border: solid var(--blanco); */
    text-align: right;
    
}

/* MEDIA QUERY PAGINA */

@media(max-width:1366px){
    .oculto2{
        display: none;
    }
    .main__popUp{
        width: 50vw;

    }
}
@media(max-width:1312px){
    .slider-item img {
        width: 70px;
        height: 70px;
    }
}
@media(max-width:1209px){
    .header__svg{
        height: 40px;
        width: 40px;
    }
}
@media(max-width:1150px){
    .main__popUp{
        width: 60vw;

    }
}
@media(max-width:968px){
    .slider-item img {
        width: 55px;
        height: 55px;
    }
    .oculto2{
        display: none;
    }
    .main__popUp{
        width: 64vw;

    }
}
@media(max-width:801px){
    .marcado{
        background-color: var(--principal);
    }
    .slider-item img {
        width: 48px;
        height: 48px;
    }
    .header__logo{
        width: 30%;
    }
    .header__nav{
        display: none;
    }
    .oculto{
        display: block;
    }

    .main{
        padding-bottom: 20vh;
    }
    .footer{
        display: none;
    }
    /* APARICION DEL MENÚN DEL MOVIL */
    .menu__movil{
        position: fixed;
        bottom: 10vh;
        background-color: black;
        width: 60vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 100px;
        padding: 1vh 1vw;
        margin-left: 20vw;
        z-index: 3;
    }
    .menu__movil a{
        width: 8vw;
        height: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: solid white; */
        border-radius: 50%;
    }
    .menu__movil a:hover{
        background-color: var(--principal);
        transform: rotate(15deg);
    }
    .menu__movil a > svg{
        width: 5vw;
        height: 5vw;
        fill: white;
    }
    .header__svg{
        height: 24px;
        width: 24px;
    }
    .main__popUp{
        width: 72vw;

    }
    
}
@media(max-width:651px){
    .main__games{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:600px){
    .main__popUp{
        width: 90vw;

    }
}
@media(max-width:500px){
    .main__leagues-select{
        justify-content: space-between;
        gap: 8px;
    }
    
    .oculto2{
        display: none;
    }
    .main__popUp{
        width: 100vw;

    }
    #betName{
        width: 99.9%;
    }
}
