@font-face{
    font-family: SinkinSans;
    src: url("../fonts/SinkinSans-200XLight.otf"), url("../fonts/SinkinSans-200XLightItalic.otf"), url("../fonts/SinkinSans-400Regular.otf"), url("../fonts/SinkinSans-400RegularItalic.otf"), url("../fonts/SinkinSans-600SemiBold.otf"), url("../fonts/SinkinSans-600SemiBoldItalic.otf"), url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}

@font-face{
    font-family: SinkinSansBold;
    src: url("../fonts/SinkinSans-600SemiBold.otf"), url("../fonts/SinkinSans-600SemiBoldItalic.otf"), url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}

@font-face{
    font-family: SinkinSansExtraBold;
    src: url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SinkinSans;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

/*VARIABLES USADAS*/
:root{
    --principal: rgb(167, 244, 7);
    --secundario: #000000;
    --blanco: #FFFFFF;
    --gris: rgb(144, 142, 142);
    --terciario: #7E8B62;
    --rojo: #7E0505;
    --ganador: #147C06;
    --bold: SinkinSansBold;
    --extraBold: SinkinSansExtraBold;
    --grisOpaco: rgba(144, 142, 142, 0.1);
    --uncomplete:rgba(167, 244, 7, 0.4);
}


/* Global Styles */
body {
    width: 99vw;
    background-color: var(--blanco);
    margin: 0  auto;
}

/*Header*/
.header{
    color: var(--secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;

}

/* HEADER LOGO */
.header__logo{
    width: 20%;
}

.header__logo img{
    width: 100%;
    height: 100%;
    display: block;
}

/*Navegacion*/
.header__nav{
    display: flex;
    gap: 2.5vw;
}

.header__nav .header__nav-a{
    text-decoration: none;
    color: var(--secundario);
    font-size: 1.5em;
    position: relative;
}
.header__nav .header__nav-a:hover, .header__nav .header__nav-a.active {
    color: var(--principal);
}
.header__nav .header__nav-a:hover::after, .header__nav .header__nav-a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1vh; /* Adjust spacing from text */
    height: 0.5vh;
    background-color: var(--principal);
}
.marcado{ /* MANTENER MARCADA LA PAGINA EN LA QUE SE ENCUENTRA*/
    text-decoration: none;
    color: var(--principal);
    font-size: 1.5em;
    font-family: SinkinSansBold;
}


.oculto{ /* OCULTAR NAVEGACION */
    display: none;
}
/* YA INICIADO SESION */
.header__user{
    display: flex;
    gap: 0.8vw;
    justify-content: end;
    align-items: center;
    width: auto;
    /* border: solid; */
}

.header__user a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__user-money{
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--principal);
    border-radius: 8px;
    padding: 1vh 1vw;
}

.header__svg{
    height: 50px;
    width: 50px;
    fill: var(--secundario);
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.header__svg:hover{
    fill: var(--principal);
    scale: 1.2;
    transition: background-color 0.3s ease;
    transform: rotate(15deg);
}
.header__svg2{
    height: 24px;
    width: 24px;
    fill: var(--principal);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.header__svg2:hover{
    fill: var(--secundario);
    scale: 1.2;
    transition: background-color 0.3s ease;
    transform: rotate(15deg);
}
.separador{
    width: 100%;
    height: 2vh;
    width: 100%;
    background: linear-gradient(180deg, var(--principal) 10%, var(--blanco) 100%);
}

/*MAIN DE LA PAGINA*/
/*FADE IN*/
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 2s ease-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


.main{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 2rem 3rem;
    /* border: solid; */
    background-image: url("../img/background-modified-ex.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/*Contenedores que almacenan cada uno de los diferentes secciones de challenges*/
.main__daily, .main__global, .main__completed{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    padding: 1rem 3rem;
    /* border: solid; */
}

/*Dar formato a los titulos*/
.main__titles{
    color:var(--secundario);
    /* border: solid; */
    height: auto;
    position: relative;
    margin-bottom: 2vh;
}

.main__daily h2, .main__global h2, .main__completed h2{
    font-size: 2em;
    font-family: var(--extraBold);
    position: relative;
    z-index: 2;
    text-align: left;

}

.box_titulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    background-color: var(--principal);
    z-index: 1 ;
    
}
.box_titulo_derecha{
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background-color: var(--principal);
    z-index: 1 ;
}

/*Contenedor de los challenges*/
.challengesContainer{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 100%;
    padding: 1rem 2rem;
    /* border: solid; */
    background-color: var(--grisOpaco);
    border-radius: 12px;
}

/*Cada uno de los challenges*/
.container__challenge{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 12px;
}

.completed{
    background-color: var(--principal);
}
.uncompleted{
    background-color: var(--uncomplete);
}

.challenge__info p{
    font-size: 1.2em;
    font-family: var(--bold);
    color: var(--secundario);

}

.challenge__resultado{
    display: flex;
    gap: 3vw;
    align-items: center;
    justify-content: center;
    /* border: solid; */
}

.container__challenge-global{
    border: 1px solid var(--principal);
    background-color: var(--blanco);
}

.challenge__resultado p{
    font-size: 1.2em;
    font-family: var(--bold);
}
.gris{
    color: var(--gris);
}

.challenge__svg{
    height: 20px;
    width: 20px;
    fill: var(--gris);
    vertical-align: middle;
}

.challenge__loadMore{
    width: 100%;
    text-align: right;
}

.challenge__loadMore a{
    color: var(--secundario);
    font-size: 0.8em;
    font-family: var(--bold);
}

.challenge__loadMore a:hover{
    text-decoration: underline;
}

.challenge__info-completed{
    font-size: 1.2em;
    font-family: var(--bold);
    color: var(--principal)
}
.challenge__info-completed p{
    font-family: var(--bold);
}
.container__challenge-completed{
    border: 1px solid var(--principal);
    background-color: var(--secundario);
    color: var(--principal);
}
/*FOOTER*/

.footer{
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    color: var(--blanco);
}

.footer__info{
    width: 100%;
    color: var(--blanco);
    display: flex;
    justify-content: space-evenly;
    /* border: solid; */
}
.footer__info h3{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 2vh;
    color: var(--principal);
}
.footer__info-logo{
    width: 40%;
    /* border: solid white; */
}
.footer__info-logo img{
    margin-bottom: 2vh;
    width: 90%;
}

.footer__info-contact{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid white; */

}
.footer__info-contact div{
    width: auto;
    display: flex;
    /* border: solid white; */
    gap: 0.5vw;

}
.footer__info-follow{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid white; */
}
.follow_icons{
    display: flex;
}
.footer__svg{
    height: 24px;
    width: 24px;
    fill: var(--blanco);
}
.follow_icons .footer__svg:hover{
    fill: var(--principal);
    scale: 1.2;
    transform: rotate(15deg);
}

.footer__copy{
    width: 100%;
    font-size: 0.5em;
    /* border: solid var(--blanco); */
    text-align: right;
    
}

/* MEDIA QUERY PAGINA */
@media(max-width: 1366px){
    .header__svg{
        height: 46px;
        width: 46px;
    }
}

@media(max-width: 1312px){
    
}

@media(max-width: 1209px){
    .header__svg{
        height: 40px;
        width: 40px;
    }
}

@media(max-width: 1150px){
    .main__daily h2, .main__global h2, .main__completed h2{
        font-size: 1.6em;
    
    }
}

@media(max-width: 968px){
    .header__svg{
        height: 32px;
        width: 32px;
    }
}

@media(max-width:801px){
    .header__logo{
        width: 30%;
    }
    .header__nav{
        display: none;
    }
    .oculto{
        display: block;
    }
    .box_titulo{
        height: 100%;
    }

    .main{
        padding-bottom: 20vh;
    }
    .footer{
        display: none;
    }
    /* APARICION DEL MENÚN DEL MOVIL */
    .menu__movil{
        position: fixed;
        bottom: 10vh;
        background-color: black;
        width: 60vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 100px;
        padding: 1vh 1vw;
        margin-left: 20vw;
        z-index: 3;
    }
    .menu__movil a{
        width: 8vw;
        height: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: solid white; */
        border-radius: 50%;
    }
    .menu__movil a:hover{
        background-color: var(--principal);
        transform: rotate(15deg);
    }
    .menu__movil a > svg{
        width: 5vw;
        height: 5vw;
        fill: white;
    }
    .header__svg{
        height: 24px;
        width: 24px;
    }
    .marcado{
        background-color: var(--principal);
    }
    .main__daily, .main__global, .main__completed{
        padding: 1rem 1rem;
        /* border: solid; */
    }
    .main__daily h2, .main__global h2, .main__completed h2{
        font-size: 1.2em;
    
    }
    .challengesContainer{
        padding: 1rem 1rem;
    }
    .challenge__info p{
        font-size: 1em;
    
    }
    
    .challenge__resultado p{
        font-size: 1em;
    }
    .challenge__info-completed{
        font-size: 1em;
        font-family: var(--bold);
    }
}

@media(max-width:500px){
    .main__daily, .main__global, .main__completed{
        /* border: solid; */
        padding: 0;

    }
    .challengesContainer{
        padding: 0.6rem 0.6rem;
    }
    .main__daily h2, .main__global h2, .main__completed h2{
        font-size: 0.8em;
    
    }
    .challenge__info p{
        font-size: 0.6em;
    
    }
    
    .challenge__resultado p{
        font-size: 0.6em;
    }
    .challenge__info-completed{
        font-size: 0.6em;

    }
    .box_titulo{
        height: 100%;
    }
}

