@font-face{
    font-family: SinkinSans;
    src: url("../fonts/SinkinSans-200XLight.otf"), url("../fonts/SinkinSans-200XLightItalic.otf"), url("../fonts/SinkinSans-400Regular.otf"), url("../fonts/SinkinSans-400RegularItalic.otf"), url("../fonts/SinkinSans-600SemiBold.otf"), url("../fonts/SinkinSans-600SemiBoldItalic.otf"), url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}

@font-face{
    font-family: SinkinSansBold;
    src: url("../fonts/SinkinSans-600SemiBold.otf"), url("../fonts/SinkinSans-600SemiBoldItalic.otf"), url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}
@font-face{
    font-family: SinkinSansExtraBold;
    src: url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SinkinSans;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root{
    --principal: #A7F407;
    --secundario: #000000;
    --blanco: #FFFFFF;
    --gris: #908E8E;
    --terciario: #7E8B62;
    --rojo: #7E0505;
    --ganador: #147C06;
}


/* Global Styles */
body {
    width: 99vw;
    background-color: var(--blanco);
    margin: 0  auto;
}

/*Header*/
.header{
    color: var(--secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;

}

.header__logo{
    width: 20%;
}

.header__logo img{
    width: 100%;
    height: 100%;
    display: block;
}

/*Navegacion*/
.header__nav{
    display: flex;
    gap: 2.5vw;
}

.header__nav a{
    text-decoration: none;
    color: var(--secundario);
    font-size: 1.5em;
    position: relative;
}
.header__nav a:hover, .header__nav a.active {
    color: var(--principal);
}
.header__nav a:hover::after, .header__nav a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1vh; /* Adjust spacing from text */
    height: 0.5vh;
    background-color: var(--principal);
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.buttons a {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 45%;
    text-align: center;
    font-family: SinkinSansBold;
    
}

.button__login {
    background-color: var(--principal);
    border: 2px solid var(--principal);
    color: var(--secundario);
    font-weight: bold;
}

.button__singup {
    border: 2px solid var(--principal);
    color: var(--principal);
    background-color: transparent;
}
.button__login:hover {
    background-color: var(--secundario);
    color: var(--principal);
}   
.button__singup:hover {
    background-color: var(--principal);
    color: var(--secundario);
}

.oculto{
    display: none;
}
/* YA INICIADO SESION */
.header__user{
    display: flex;
    gap: 0.8vw;
    justify-content: end;
    align-items: center;
    width: auto;
    /* border: solid; */
}
.header__user a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__user-money{
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--principal);
    border-radius: 8px;
    padding: 1vh 1vw;
}

.header__svg{
    height: 50px;
    width: 50px;
    fill: var(--secundario);
}
.header__svg:hover{
    fill: var(--principal);
    scale: 1.2;
}
.header__svg2{
    height: 24px;
    width: 24px;
    fill: var(--principal);
    cursor: pointer;
}
.header__svg2:hover{
    fill: var(--secundario);
    scale: 1.2;
}
.separador{
    width: 100%;
    height: 2vh;
    width: 100%;
    background: linear-gradient(180deg, var(--principal) 10%, var(--blanco) 100%);
}

/*Main de la pagina*/

.main{
    background-image: url("../img/background-modified-ex.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Portada*/
.main__portada{
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-image: url("../img/BellinghamVerdoso.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 5vh;
    
}

.main__portada-titulo{
    width: 45%;
    color:var(--secundario);
    font-size: 2.2em;
    text-align: center;
    /* border: solid; */
    
    position: relative;
}

.box_titulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 10vh;
    background-color: var(--principal);
    z-index: 1 ;
}

.main__portada-titulo h2{
    position: relative;
    z-index: 2;
    font-family: SinkinSansExtraBold;
}

.main__portada-button{
    width: 30%;
    height: 100%;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: end;
}

.main__portada-button a{
    width: 100%;
    padding: 1rem;
    background-color: var(--principal);
    color: var(--secundario);
    font-family: SinkinSansExtraBold;
    font-size: 2em;
    text-align: center ;
    border-radius: 0.5rem;
    border: 2px solid var(--principal);
    transition: background-color 0.3s, color 0.3s;
}
.main__portada-button a:hover{
    background-color: var(--secundario);
    color: var(--principal);
}

/* MARCA/INFORMACION */

.main__marca{
    width: 90%;
    background-color: var(--principal);
    padding: 0.5rem 1rem;
    /* border: solid; */
    font-size: 3rem;
    text-align: center;
    border-radius: 0.2rem;
    margin-bottom: 5vh;
}

.main__marca .white{
    color: var(--blanco);
    font-weight: bold;
    font-family: SinkinSansExtraBold;
}
.main__marca .bold{
    font-weight: bold;
    font-family: SinkinSansExtraBold;
}

.separador__basico{
    width: 80%;
    height: 4px;
    background-color: var(--secundario);
    margin-bottom: 5vh;
}

/* SECCIONES ABOUT US */

.main__aboutUs{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.main__aboutUs-titulo{
    width: 45%;
    color:var(--secundario);
    font-size: 2em;
    /* border: solid; */
    font-weight: bold;
    position: relative;
    padding-left: 0.5rem;
}
.main__aboutUs-titulo h2{
    position: relative;
    z-index: 2;
    font-family: SinkinSansExtraBold;
}
.main__aboutUs-titulo .box_titulo{
    width: 30%;
    height: 100%;
}

/* GRID */

.main__aboutUs-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
    gap: 4vw;
    margin-top: 2vh;
    /* border: solid; */
}

.container__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--principal);
    border-radius: 8px;
    background-color: var(--blanco);
    height: auto;
    text-align: center;
    box-shadow: 0 4px 4px var(--gris);
    padding: 0 0 2vh 0; 
}

.container__box h3{
    font-size: 2em;
    color: var(--secundario);
    font-weight: bold;
    margin: 1rem 0;
    font-family: SinkinSansExtraBold;
}

.container__box p{
    font-size: 1.5em;
    color: var(--gris);
    padding: 0 1rem;
}

/*FOOTER*/

.footer{
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    color: var(--blanco);
}

.footer__info{
    width: 100%;
    color: var(--blanco);
    display: flex;
    justify-content: space-evenly;
    /* border: solid; */
}
.footer__info h3{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 2vh;
    color: var(--principal);
}
.footer__info-logo{
    width: 40%;
    /* border: solid white; */
}
.footer__info-logo img{
    margin-bottom: 2vh;
    width: 90%;
}

.footer__info-contact{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid white; */

}
.footer__info-contact div{
    width: auto;
    display: flex;
    /* border: solid white; */
    gap: 0.5vw;

}
.footer__info-follow{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid white; */
}

.footer__svg{
    height: 24px;
    width: 24px;
    fill: var(--blanco);
}
.follow_icons .footer__svg:hover{
    fill: var(--principal);
    scale: 1.2;
}

.footer__copy{
    width: 100%;
    font-size: 0.5em;
    /* border: solid var(--blanco); */
    text-align: right;
    
}

/*  MEDIA QUERY */

@media(max-width: 1366px){
    .main__portada-titulo{
        width: 80%;
    }
    .box_titulo{
        height: 12vh;
    }
    .main__portada-button a{
        width: 100%;
        padding: 1rem;
        font-family: SinkinSansExtraBold;
        font-size: 1.6em;

    }
    .header__svg{
        height: 46px;
        width: 46px;
    }
}

@media(max-width: 1312px){
    .buttons a {
        font-size: 0.8rem;
    }
}

@media(max-width: 1209px){
    .main__portada-button a{
        width: 100%;
        padding: 1rem;
        font-family: SinkinSansExtraBold;
        font-size: 1.4em;

    }
    .header__svg{
        height: 40px;
        width: 40px;
    }
}

@media(max-width: 1150px){
    .buttons a {
        font-size: 0.6rem;
    }
    .box_titulo{
        height: 8vh;
    }
    .main__marca{
        font-size: 2.4rem;
    }
}

@media(max-width: 968px){
    .main__portada-button a{
        width: 100%;
        padding: 1rem;
        font-family: SinkinSansExtraBold;
        font-size: 1em;

    }
    .buttons a {
        font-size: 0.5rem;
    }
    .main__portada-titulo{
        font-size: 1.8em;
    }
    .box_titulo{
        height: 14vh;
    }
    .header__svg{
        height: 32px;
        width: 32px;
    }
}

@media(max-width:801px){
    .header__logo{
        width: 30%;
    }
    .header__nav, .buttons{
        display: none;
    }
    .oculto{
        display: block;
    }
    .main__portada-titulo{
        font-size: 1.2em;
    }
    .main__marca{
        font-size: 1.4rem;
    }
    .main__portada-button a{
        font-size: 0.5em;

    }
    .main__aboutUs-titulo{
        font-size: 1.4em;
    }
    .main__aboutUs-container{
        display: flex;
        flex-direction: column;
    }
    .footer__info-logo img{
        width: 90%;
    }
    .box_titulo{
        height: 8vh;
    }

    .main{
        padding-bottom: 20vh;
    }
    .footer{
        display: none;
    }
    .menu__movil{
        position: fixed;
        bottom: 10vh;
        background-color: black;
        width: 60vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 100px;
        padding: 1vh 1vw;
        margin-left: 20vw;
        z-index: 3;
    }
    .menu__movil a{
        width: 8vw;
        height: 8vw;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: solid white; */
        border-radius: 50%;
    }
    .menu__movil a:hover{
        background-color: var(--principal);
    }
    .menu__movil a > svg{
        width: 5vw;
        height: 5vw;
        fill: white;
    }
    .header__svg{
        height: 24px;
        width: 24px;
    }
    .marcado{
        background-color: var(--principal);
    }
}

@media(max-width:500px){
   
    .main__portada{
        flex-direction: column;
        justify-content: end;
        gap: 20vh;

        
    }
    .main__portada-button{
        width: 80%;
        height: auto;
        /* border: solid; */
    }

    .main__portada-titulo{
        width: 100%;
        font-size: 1em;
        /* border: solid; */
    }
    .main__portada-button a{
        font-size: 1em;
    }
    .main__marca{
        font-size: 1.4rem;
    }
    .main__aboutUs-titulo{
        font-size: 1em;
        width: 100%;
    }
    .container__box h3{
        font-size: 1.4em;
    }
    
    .container__box p{
        font-size: 1em;

    }
}