@font-face{
    font-family: SinkinSans;
    src: url("../fonts/SinkinSans-200XLight.otf"), url("../fonts/SinkinSans-200XLightItalic.otf"), url("../fonts/SinkinSans-400Regular.otf"), url("../fonts/SinkinSans-400RegularItalic.otf"), url("../fonts/SinkinSans-600SemiBold.otf"), url("../fonts/SinkinSans-600SemiBoldItalic.otf"), url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SinkinSans;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

:root{
    --principal: #A7F407;
    --secundario: #000000;
    --blanco: #FFFFFF;
    --gris: #908E8E;
    --terciario: #7E8B62;
    --rojo: #7E0505;
    --ganador: #147C06;
}


/* Global Styles */
body {
    width: 99vw;
    background-color: var(--blanco);
}

/*Header*/
.header{
    color: var(--secundario);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;

}

.header__logo{
    width: 20%;
}

.header__logo img{
    width: 100%;
    height: 100%;
    display: block;
}

/*Navegacion*/
.header__nav{
    display: flex;
    gap: 2.5vw;
}

.header__nav a{
    text-decoration: none;
    color: var(--secundario);
    font-size: 1.5em;
    position: relative;
}
.header__nav a:hover, .header__nav a.active {
    color: var(--principal);
}
.header__nav a:hover::after, .header__nav a.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1vh; /* Adjust spacing from text */
    height: 0.5vh;
    background-color: var(--principal);
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 20%;
}

.buttons button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 45%;
}

.button__login {
    background-color: var(--principal);
    border: 2px solid var(--principal);
    color: var(--secundario);
    font-weight: bold;
}

.button__singup {
    border: 2px solid var(--principal);
    color: var(--principal);
    background-color: transparent;
}
.button__login:hover {
    background-color: var(--secundario);
    color: var(--principal);
}   
.button__singup:hover {
    background-color: var(--principal);
    color: var(--secundario);
}
.separador{
    width: 100%;
    height: 2vh;
    width: 100%;
    background: linear-gradient(180deg, var(--principal) 10%, var(--blanco) 100%);
}

/*Main de la pagina*/

.main{
    background-image: url("../img/background-modified-ex.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Portada*/
.main__portada{
    width: 80%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-image: url("../img/BellinghamVerdoso.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 5vh;
    
}

.main__portada-titulo{
    width: 45%;
    color:var(--secundario);
    font-size: 2.5em;
    text-align: center;
    /* border: solid; */
    font-weight: bold;
    position: relative;
}

.box_titulo{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 10vh;
    background-color: var(--principal);
    z-index: 1 ;
}

.main__portada-titulo h2{
    position: relative;
    z-index: 2;
}

.main__portada-button{
    width: 30%;
    height: 100%;
    /* border: solid; */
    display: flex;
    justify-content: center;
    align-items: end;
}

.main__portada-button a{
    width: 100%;
    padding: 1rem;
    background-color: var(--principal);
    color: var(--secundario);
    font-weight: bold;
    font-size: 2em;
    text-align: center ;
    border-radius: 0.5rem;
    border: 2px solid var(--principal);
    transition: background-color 0.3s, color 0.3s;
}
.main__portada-button a:hover{
    background-color: var(--secundario);
    color: var(--principal);
}

/* MARCA/INFORMACION */

.main__marca{
    width: 90%;
    background-color: var(--principal);
    padding: 0.5rem 1rem;
    /* border: solid; */
    font-size: 3rem;
    text-align: center;
    border-radius: 0.2rem;
    margin-bottom: 5vh;
}

.main__marca .white{
    color: var(--blanco);
    font-weight: bold;
    text-shadow: 1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white;
}
.main__marca .bold{
    font-weight: bold;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
}

.separador__basico{
    width: 80%;
    height: 4px;
    background-color: var(--secundario);
    margin-bottom: 5vh;
}

/* SECCIONES ABOUT US */

.main__aboutUs{
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.main__aboutUs-titulo{
    width: 45%;
    color:var(--secundario);
    font-size: 2.5em;
    /* border: solid; */
    font-weight: bold;
    position: relative;
    padding-left: 0.5rem;
}
.main__aboutUs-titulo h2{
    position: relative;
    z-index: 2;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
}
.main__aboutUs-titulo .box_titulo{
    width: 30%;
}

/* GRID */

.main__aboutUs-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 0.5fr));
    gap: 4vw;
    margin-top: 2vh;
    /* border: solid; */
}

.container__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--principal);
    border-radius: 8px;
    background-color: var(--blanco);
    height: 350px;
    text-align: center;
    box-shadow: 0 4px 4px var(--gris);
}

.container__box h3{
    font-size: 2em;
    color: var(--secundario);
    font-weight: bold;
    margin: 1rem 0;
    text-shadow: 1px 1px 0px black, -1px -1px 0px black, 1px -1px 0px black, -1px 1px 0px black;
}

.container__box p{
    font-size: 1.5em;
    color: var(--gris);
    padding: 0 1rem;
}

/*FOOTER*/

.footer{
    background-color: var(--secundario);
    display: flex;
    flex-direction: column;
    padding: 2rem 3rem;
    color: var(--blanco);
}

.footer__info{
    width: 100%;
    color: var(--blanco);
    display: flex;
    justify-content: space-evenly;
    /* border: solid; */
}
.footer__info h3{
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 2vh;
    color: var(--principal);
}
.footer__info-logo{
    width: 40%;
    /* border: solid white; */
}
.footer__info-logo img{
    margin-bottom: 2vh;
}

.footer__info-contact{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid white; */

}
.footer__info-contact div{
    width: 40%;
    display: flex;
    /* border: solid white; */
    gap: 0.5vw;

}
.footer__info-follow{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid white; */
}

.footer__svg{
    height: 24px;
    width: 24px;
    fill: var(--blanco);
}
.follow_icons .footer__svg:hover{
    fill: var(--principal);
    scale: 1.2;
}

.footer__copy{
    width: 100%;
    font-size: 0.5em;
    /* border: solid var(--blanco); */
    text-align: right;
    
}
