@font-face{
    font-family: SinkinSans;
    src: url("../fonts/SinkinSans-200XLight.otf"), url("../fonts/SinkinSans-200XLightItalic.otf"), url("../fonts/SinkinSans-400Regular.otf"), url("../fonts/SinkinSans-400RegularItalic.otf"), url("../fonts/SinkinSans-600SemiBold.otf"), url("../fonts/SinkinSans-600SemiBoldItalic.otf"), url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}

@font-face{
    font-family: SinkinSansBold;
    src: url("../fonts/SinkinSans-600SemiBold.otf"), url("../fonts/SinkinSans-600SemiBoldItalic.otf"), url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}

@font-face{
    font-family: SinkinSansExtraBold;
    src: url("../fonts/SinkinSans-700Bold.otf"), url("../fonts/SinkinSans-700BoldItalic.otf");
}

/* ESTILO GENERAL DE LA PAGINA */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SinkinSans;
    border: 0;
    outline: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

/* VARIABLES UTILIZADAS */
:root{
    --principal: #a7f407;
    --secundario: #000000;
    --blanco: #FFFFFF;
    --gris: #908E8E;
    --terciario: #7E8B62;
    --rojo: #7E0505;
    --ganador: #147C06;
}


/* Global Styles */
body {
    width: 100vw;
    background-color: var(--blanco);
    min-height: 100vh;
    background-image: url("../img/background-modified-ex.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN REGISTRO*/

.signup {
    position: absolute;
    z-index: 2;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 40vw;
    margin-top: 12vh;
    box-shadow: 0 4px 4px var(--gris);
    background-color: var(--secundario);
    border-radius: 8px;
    padding: 2vw 0;
}

.signup h1{
    color: var(--principal);
    font-size: 2rem;
    margin: 1rem;
    padding: 1rem;
    font-family: SinkinSansExtraBold;
    letter-spacing: 2px;
    width: 100%;
    /* border: solid white; */
    text-align: center;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(167,244,7,0.3) 46%, rgba(0,0,0,1) 100%);
}

.signup__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    /* border: solid white; */
}

.signup__form-input{
    width: 100%;
    margin: 0.7rem 0;
    padding: 0.5rem;
    border-radius: 12px;
    border: solid var(--principal);
    background-color: var(--blanco);
}

.signup__form-terms{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin: 0.7rem 0;
    color: var(--blanco);
    /* border: solid var(--principal); */
}
.green{
    color: var(--principal)
}
.green:hover{
    text-decoration: underline;
}
.signup__form-button{
    width: 70%;
    margin: 0.9rem auto;
    border-radius: 12px;
    border: solid var(--principal);
    background-color: var(--principal);
    color: var(--secundario);
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
    
}
.signup__form-button a{
    color: var(--secundario);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: SinkinSansBold;
    width: 100%;
    height: 100%;
    display: block;
    padding: 0.5rem;
    letter-spacing: 2px;
    /* border: solid white; */
   
}

.signup__form-button a:hover{
    color: var(--principal);
}

.signup__form-button:hover{
    background-color: var(--secundario);
    color: var(--principal);
    border: solid var(--principal);
}
.signup__form-login{
    color: var(--blanco);
    font-size: 0.8rem;
    /* border: solid white; */
    text-align: center;
}

.signup__form-login a:hover{
    color: var(--principal);
    text-decoration: underline;
    transition: color 0.3s;
}

/* ANIMACION DE FONDO DE BURBUJAS*/
.bubbles {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .bubble {
    position: absolute;
    left: var(--bubble-left-offset);
    bottom: -30%;
    display: block;
    width: var(--bubble-radius);
    height: var(--bubble-radius);
    border-radius: 50%;
    animation: float-up var(--bubble-float-duration) var(--bubble-float-delay) ease-in infinite;
  }
  .bubble::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(167,244,7,0.3);
    border-radius: inherit;
    animation: var(--bubble-sway-type) var(--bubble-sway-duration) var(--bubble-sway-delay) ease-in-out alternate infinite;
  }
  .bubble:nth-child(0) {
    --bubble-left-offset: 10vw;
    --bubble-radius: 8vw;
    --bubble-float-duration: 7s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 1s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(1) {
    --bubble-left-offset: 94vw;
    --bubble-radius: 7vw;
    --bubble-float-duration: 12s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(2) {
    --bubble-left-offset: 84vw;
    --bubble-radius: 4vw;
    --bubble-float-duration: 9s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(3) {
    --bubble-left-offset: 76vw;
    --bubble-radius: 6vw;
    --bubble-float-duration: 9s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 2s;
    --bubble-sway-delay: 3s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(4) {
    --bubble-left-offset: 66vw;
    --bubble-radius: 10vw;
    --bubble-float-duration: 10s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(5) {
    --bubble-left-offset: 62vw;
    --bubble-radius: 8vw;
    --bubble-float-duration: 6s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 3s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(6) {
    --bubble-left-offset: 12vw;
    --bubble-radius: 7vw;
    --bubble-float-duration: 7s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(7) {
    --bubble-left-offset: 46vw;
    --bubble-radius: 10vw;
    --bubble-float-duration: 6s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(8) {
    --bubble-left-offset: 70vw;
    --bubble-radius: 7vw;
    --bubble-float-duration: 11s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 2s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(9) {
    --bubble-left-offset: 77vw;
    --bubble-radius: 7vw;
    --bubble-float-duration: 9s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 1s;
    --bubble-sway-delay: 3s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(10) {
    --bubble-left-offset: 65vw;
    --bubble-radius: 4vw;
    --bubble-float-duration: 10s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(11) {
    --bubble-left-offset: 91vw;
    --bubble-radius: 5vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(12) {
    --bubble-left-offset: 31vw;
    --bubble-radius: 1vw;
    --bubble-float-duration: 10s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 2s;
    --bubble-sway-delay: 3s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(13) {
    --bubble-left-offset: 42vw;
    --bubble-radius: 3vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(14) {
    --bubble-left-offset: 27vw;
    --bubble-radius: 10vw;
    --bubble-float-duration: 7s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(15) {
    --bubble-left-offset: 58vw;
    --bubble-radius: 6vw;
    --bubble-float-duration: 11s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(16) {
    --bubble-left-offset: 77vw;
    --bubble-radius: 2vw;
    --bubble-float-duration: 12s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(17) {
    --bubble-left-offset: 59vw;
    --bubble-radius: 1vw;
    --bubble-float-duration: 11s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(18) {
    --bubble-left-offset: 37vw;
    --bubble-radius: 6vw;
    --bubble-float-duration: 11s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 2s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(19) {
    --bubble-left-offset: 43vw;
    --bubble-radius: 7vw;
    --bubble-float-duration: 7s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(20) {
    --bubble-left-offset: 37vw;
    --bubble-radius: 7vw;
    --bubble-float-duration: 7s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(21) {
    --bubble-left-offset: 21vw;
    --bubble-radius: 2vw;
    --bubble-float-duration: 7s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(22) {
    --bubble-left-offset: 45vw;
    --bubble-radius: 3vw;
    --bubble-float-duration: 9s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 2s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(23) {
    --bubble-left-offset: 61vw;
    --bubble-radius: 1vw;
    --bubble-float-duration: 10s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 2s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(24) {
    --bubble-left-offset: 18vw;
    --bubble-radius: 2vw;
    --bubble-float-duration: 7s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 2s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(25) {
    --bubble-left-offset: 56vw;
    --bubble-radius: 9vw;
    --bubble-float-duration: 9s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(26) {
    --bubble-left-offset: 4vw;
    --bubble-radius: 1vw;
    --bubble-float-duration: 10s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 2s;
    --bubble-sway-delay: 2s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(27) {
    --bubble-left-offset: 72vw;
    --bubble-radius: 8vw;
    --bubble-float-duration: 6s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 2s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(28) {
    --bubble-left-offset: 24vw;
    --bubble-radius: 1vw;
    --bubble-float-duration: 6s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 1s;
    --bubble-sway-delay: 2s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(29) {
    --bubble-left-offset: 99vw;
    --bubble-radius: 3vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 3s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(30) {
    --bubble-left-offset: 13vw;
    --bubble-radius: 3vw;
    --bubble-float-duration: 10s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(31) {
    --bubble-left-offset: 15vw;
    --bubble-radius: 9vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 2s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(32) {
    --bubble-left-offset: 79vw;
    --bubble-radius: 9vw;
    --bubble-float-duration: 9s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 2s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(33) {
    --bubble-left-offset: 60vw;
    --bubble-radius: 6vw;
    --bubble-float-duration: 10s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 2s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(34) {
    --bubble-left-offset: 67vw;
    --bubble-radius: 10vw;
    --bubble-float-duration: 12s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 1s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(35) {
    --bubble-left-offset: 38vw;
    --bubble-radius: 2vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(36) {
    --bubble-left-offset: 17vw;
    --bubble-radius: 3vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(37) {
    --bubble-left-offset: 1vw;
    --bubble-radius: 1vw;
    --bubble-float-duration: 7s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(38) {
    --bubble-left-offset: 69vw;
    --bubble-radius: 10vw;
    --bubble-float-duration: 10s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(39) {
    --bubble-left-offset: 8vw;
    --bubble-radius: 5vw;
    --bubble-float-duration: 6s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 2s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(40) {
    --bubble-left-offset: 18vw;
    --bubble-radius: 5vw;
    --bubble-float-duration: 6s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(41) {
    --bubble-left-offset: 10vw;
    --bubble-radius: 6vw;
    --bubble-float-duration: 10s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(42) {
    --bubble-left-offset: 29vw;
    --bubble-radius: 1vw;
    --bubble-float-duration: 11s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(43) {
    --bubble-left-offset: 29vw;
    --bubble-radius: 2vw;
    --bubble-float-duration: 6s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 1s;
    --bubble-sway-delay: 3s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(44) {
    --bubble-left-offset: 44vw;
    --bubble-radius: 6vw;
    --bubble-float-duration: 7s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 4s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(45) {
    --bubble-left-offset: 0vw;
    --bubble-radius: 3vw;
    --bubble-float-duration: 9s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(46) {
    --bubble-left-offset: 94vw;
    --bubble-radius: 9vw;
    --bubble-float-duration: 11s;
    --bubble-sway-duration: 4s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-left-to-right;
  }
  .bubble:nth-child(47) {
    --bubble-left-offset: 5vw;
    --bubble-radius: 5vw;
    --bubble-float-duration: 12s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 1s;
    --bubble-sway-delay: 3s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(48) {
    --bubble-left-offset: 39vw;
    --bubble-radius: 1vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 4s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(49) {
    --bubble-left-offset: 88vw;
    --bubble-radius: 10vw;
    --bubble-float-duration: 6s;
    --bubble-sway-duration: 6s;
    --bubble-float-delay: 3s;
    --bubble-sway-delay: 0s;
    --bubble-sway-type: sway-right-to-left;
  }
  .bubble:nth-child(50) {
    --bubble-left-offset: 98vw;
    --bubble-radius: 10vw;
    --bubble-float-duration: 8s;
    --bubble-sway-duration: 5s;
    --bubble-float-delay: 0s;
    --bubble-sway-delay: 3s;
    --bubble-sway-type: sway-left-to-right;
  }
  
  @keyframes float-up {
    to {
      transform: translateY(-175vh);
    }
  }
  @keyframes sway-left-to-right {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
  @keyframes sway-right-to-left {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }

  /* MEDIA QUERY PARA RESPONSIVE */
  @media(max-width:1366px){
    .signup {
      width: 50vw;
    }
  }
  @media(max-width:1209px){
    .signup {
      width: 50vw;
    }
  }
  @media(max-width:1150px){
    .signup {
      width: 55vw;
    }
  }
  @media(max-width:968px){
    .signup {
      width: 65vw;
    }
  }
  @media(max-width:801px){
    .signup {
      width: 75vw;
    }
  }
  @media(max-width:700px){
    .signup {
      width: 85vw;
      
    }
    .signup__form-button a{
      font-size: 0.8rem;
     
  }
  }

  @media(max-width:500px){
    .signup__form-login{
      color: var(--blanco);
      font-size: 0.6rem;
  }
  .signup__form-terms label{
    font-size: 0.6rem;
  }
  }